header{
    background-color:#2272FF ;
}
body{
    background-color:white;
    border-top: 4px solid goldenrod;
    border-bottom: 4px solid goldenrod;
    border-left: 4px solid goldenrod;
    border-right:4px solid goldenrod;
    display: flow-root;
} 


p{
    color: black;
    font-size: 24px;
}

h1{
    color:white;
    font-family:'Times New Roman', Times, serif;
   
    text-shadow: 5px 5px 4px blue ;
}
h2{
    color:white;
    font-family:'Times New Roman', Times, serif;
    background-color: #2272FF;
}


header{
    border-top: 4px solid goldenrod;
    border-bottom: 4px solid goldenrod;
    border-left: 4px solid goldenrod;
    border-right:4px solid goldenrod;
}

p{
    color:black;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#img1{
    float: left;
    margin-bottom: 20px;
}
#img2{
    float: right;
    margin-bottom: 30px;
    text-align: left;
}


#img4{
    float: left;
}

#img4{
    float: left;

}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer {
    background-color: #2272FF;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: goldenrod;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons i {
    font-size: 2em; 
    color: white;
    opacity: 0.9;
}
.socialIcons a:hover{
    background-color: #2272FF;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color:white;
    transition:0.5s;
}
.footernav{
    margin: 30px 0px;
}
.footernav ul{
    display: flex;
    justify-content: center;
}
.footernav ul li a{
 color: white;
 margin: 20px;
 text-decoration: none;
 font-size: 1.3em;
 opacity: 0.7;
 transition: 0.5s;
}
.footernav ul li a:hover{
    opacity: 1;
}

header{
    border-top: 4px solid goldenrod;
    border-bottom: 4px solid goldenrod;
    border-left: 4px solid goldenrod;
    border-right:4px solid goldenrod;
}


p{
    color:black;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.navbar ul{
    list-style-type: none;
    background-color: goldenrod;
    padding: 0px;
    margin:0px;
    overflow: hidden;
}
.navbar a{
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: #2272FF;
}
.navbar li{
    float: left;
}
